# =========================================
# Database
# =========================================
DATABASE_URL="postgresql://mediaflow:mediaflow_secret@localhost:5432/mediaflow_db?schema=public"

# =========================================
# JWT
# =========================================
JWT_SECRET="ganti-dengan-random-string-panjang"
JWT_REFRESH_SECRET="ganti-dengan-random-string-panjang-berbeda"

# =========================================
# CORS
# =========================================
CORS_ORIGIN="http://localhost:3000"